#thing{
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
    background-color:red;
}

#jump{
    position:relative;
    left:60px;
    top:520px;
}

#canvas{
    position:absolute;
    width:750px;
    height:500px;
    left:0px;
    top:0px;
    /*background-color:grey;*/
    Background-image:url('https://media0.giphy.com/media/TxVVB6PfWMjE4/giphy.gif');
    border:dotted black;   
}

.rect{
    background-color:grey;
    opacity:0.6;
    position:absolute;
}

p{
    position:absolute;
    top:500px;    
}

#timer{
    color:white;
    opacity:0;
}

#goodTime{
    opacity:0;
    color:yellow;
    position:absolute;
    top:0px;
    left:700px;
}